# Build and IDE files
build/
bin/
CMakeLists.txt.*
*.pro.*
.tags*

# I like to keep a bunch of test firmwares around
*.hex
*.elf

# Don't show the static Qt5 builds
qt5/*
lib/qt5/*
!lib/qt5/README.md
!lib/qt5/download-static-qt5.sh
